* {
	box-sizing: border-box;
}
body {
	height: 100vh;
	background: #cecece;
	display: flex;
	justify-content: center;
	align-items: center;
}
.container {
	display: flex;
	align-items: center;
	justify-content: center;
}
.card {
	position: absolute;
	height: 400px;
	width: 300px;
	box-shadow: 10px 0 50px rgba(0,0,0,0.3);
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 10px;
}
.card img {
	height: 100%;
	width: 100%;
	border-radius: 10px;
}
.content {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	right: 0;
	background: #000;
	clip-path: circle(50px at 0 0);
	transition: all .5s;
	cursor: pointer;
}
p {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: 0;
	text-align: center;
	font-size: 22px;
	text-transform: uppercase;
	white-space: nowrap;
	color: #fff;
	transform: translate(-50%, -50%);
}
i {
	position: absolute;
	top: 11px;
	left: 15px;
	color: #fff;
	opacity: 1;
	transition: all .5s;
}
.content:hover {
	border-radius: 10px;
	clip-path: circle(500px at 0 0);
}
.content:hover i {
	opacity: 0;
	transform: translateXY(100px);
}