@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;500;600&display=swap');
* {
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
:root {
  --black1: #000;
  --black2: #c6c6c6;
  --black3: #eee;
  --scrollbar-thumb: #1857bc;
  --btn: #287bff;
  --navbar: #1857bc;
  --color: #daac00;
  --background: #fcc302;
  --white: #fff;
  --home-background-image: url('../img/home/principal.jpg');
  --background-description: url('../img/background-description.jpg');
  --about-image: url('../img/Contact/pexels-olia-danilevich-5313361.jpg');
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 8rem;
  overflow-x: hidden;
}
html::-webkit-scrollbar {
  width: .5rem;
}
html::-webkit-scrollbar-track {
  background: var(--white);
}
html::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb);
}
section {
  padding: 5rem 9%;
}
.btn {
  margin-top: 1rem;
  display: inline-block;
  border: 0.2rem solid var(--black1);
  color: var(--black1);
  cursor: pointer;
  background: none;
  font-size: 1.7rem;
  padding: 1rem 3rem;
  border-radius: 1rem;
}
.btn:hover {
  background: var(--btn);
  color: var(--white);
}
.heading {
  text-align: center;
  margin-bottom: 2.5rem;
  font-size: 4rem;
  color: var(--black1);
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 2rem 9%;
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 1rem;
}
.header.active {
  background: var(--navbar);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}
.header .logo {
  position: absolute;
  top: 0.7rem;
  left: 48.5%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
.header .logo img {
  width: 15rem;
}
.header #nav-open {
  display: none;
}

.header .navbar #nav-close {
  font-size: 5rem;
  cursor: pointer;
  color: var(--black1);
  display: none;
}
.header .navbar {
  margin-top: 4rem;
  margin-bottom: -2rem;
}
.header .navbar a {
  color: var(--white);
  font-size: 2rem;
  margin: 0 2rem;
}
.header .navbar .icons-social {
  display: none;
}
.header .icons {
  font-size: 2.5rem;
  cursor: pointer;
  color: var(--white);
}
.header .icons:hover {
  color: var(--black1);
}
.home {
  padding: 0;
}
.home .box {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: var(--home-background-image) no-repeat;
  background-size: cover !important;
  background-position: center !important;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding: 2rem 9%;
}
.home .box.second {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.home .box .content {
  width: 100%;
  text-align: center;
}
.home .box .content span {
  font-size: 4rem;
  color: var(--font-color);
}
.home .box .content p {
  color: var(--white);
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: bolder;
  text-shadow: -1px -1px 0px var(--black), -1px 1px 0px var(--black),
    1px -1px 0px var(--black), 1px 0px 0px var(--black);
}

.slide {
  position: relative;
  max-width: 100%;
  padding: 1rem;
}
.slide .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  margin: 0 20px;
}
.slide .swiper-3d .swiper-slide-shadow-left,
.slide .swiper-3d .swiper-slide-shadow-right {
  background-image: none;
}
.slide .card {
  position: relative;
  width: 100%;
  margin: 0 auto;
  background: var(--black2);
  padding: 60px 40px;
  text-align: center;
  overflow: hidden;
}
.slide .card .layer {
  position: absolute;
  top: calc(100% - 2px);
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#30a9f4, #e91ee3);
  z-index: 1;
  transition: 0.5s;
}
.slide .card:hover .layer {
  top: 0;
}
.slide .card .content {
  position: relative;
  z-index: 2;
}
.slide .card .content .imgBx {
  margin: 0 auto 10px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
}
.slide .card .content .imgBx img {
  width: 100%;
}
.slide .card .content h2 {
  display: flex;
  align-items: flex-end;
  flex-flow: column;
  justify-content: flex-end;
  font-size: 20px;
  color: var(--white);
}

.technology .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(31rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(31rem, 1fr));
  gap: 1.5rem;
}
.technology .box-container .box {
  text-align: center;
  padding: 2rem;
  border: 0.2rem solid #10221b;
  border-radius: .5rem;
  background: #fff;
}
.technology .box-container .box:hover {
  background: #10221b;
}
.technology .box-container .box:hover img {
  -webkit-filter: invert(1);
          filter: invert(1);
}
.technology .box-container .box:hover p {
  color: #fff;
}
.technology .box-container .box:hover .btn {
  border-color: #fff;
  color: #fff;
}
.technology .box-container .box:hover .btn:hover {
  background: #fff;
  color: #10221b;
}
.technology .box-container .box img {
  height: 10rem;
  margin-bottom: 1rem;
}
.technology .box-container .box h3 {
  font-size: 2rem;
  color: #219150;
}
.technology .box-container .box p {
  font-size: 1.5rem;
  color: #10221b;
  padding: 1rem 0;
  line-height: 2;
}
.contact .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem;
}
.contact .row .contact-info-container {
  width: 40rem;
}
.contact .row .contact-info-container .box {
  margin-bottom: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.5rem;
}
.contact .row .contact-info-container .box i {
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  font-size: 1.7rem;
  background: var(--btn);
  color: #fff;
  border-radius: 50%;
  text-align: center;
  margin-top: -1rem;
}
.contact .row .contact-info-container .box h3 {
  font-size: 2rem;
  color: #263238;
  padding-bottom: 1rem;
}
.contact .row .contact-info-container .box p {
  font-size: 1.5rem;
  color: #777;
  line-height: 2;
}
.contact .row .contact-info-container .share {
  padding-top: 1rem;
}
.contact .row .contact-info-container .share a {
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  font-size: 2rem;
  background: var(--black1);
  border-radius: 1rem;
  color: #fff;
  margin-right: .1rem;
  text-align: center;
}
.contact .row .contact-info-container .share a:hover {
  background: var(--btn);
}
.contact .row form {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 42rem;
          flex: 1 1 42rem;
}
.contact .row form .inputBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.contact .row form .inputBox input {
  width: 49%;
}
.contact .row form .inputBox input, .contact .row form textarea {
  padding: 1.4rem;
  background: #f6f6f6;
  text-transform: none;
  color: #777;
  margin: .7rem 0;
  font-size: 1.6rem;
  border: 0.1rem solid #999;
}
.contact .row form textarea {
  width: 100%;
  resize: none;
  height: 15rem;
}
.maps {
  margin: 0;
  padding: 0;
}
.maps,
iframe {
  height: 38rem;
}
.maps iframe {
  position: relative;
  width: 100%;
}
.clients {
  position: relative;
  max-width: 100%;
  padding: 1rem;
}
.clients .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 200px;
  margin: 0 20px;
}
.clients .card .content {
  margin-bottom: -1rem;
  position: relative;
  z-index: 2;
}
.clients .card .content .imgBx {
  margin: 0 auto 10px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
}
.clients .card .content .imgBx img {
  width: 100%;
}
.clients .swiper-3d .swiper-slide-shadow-left,
.clients .swiper-3d .swiper-slide-shadow-right {
  background-image: none;
}
.footer {
  background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(0, 0, 0, 0.7)),
      to(rgba(0, 0, 0, 0.7))
    ),
    url(../img/footer/background.jpg) no-repeat;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../img/footer/background.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.footer .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(36rem, 1fr)) [auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(36rem, 1fr));
  gap: 1.5rem;
}
.footer .box-container .box {
  width: 95%;
}
.footer .box-container .box h3 {
  font-size: 2rem;
  padding: 1.5rem 0;
  color: var(--white);
}
.footer .box-container .box img {
  display: block;
  left: 0;
  top: 0;
  padding: 1.5rem 0;
  width: 50%;
  height: auto;
}
.footer .box-container .box p {
  display: block;
  font-size: 1.4rem;
  color: var(--white);
  text-align: justify;
}
.footer .box-container .box a {
  display: block;
  font-size: 1.4rem;
  color: var(--white);
  padding: 1rem 0;
}
.footer .box-container .box a i {
  color: var(--navbar);
  padding-right: 0.5rem;
  margin-right: 0.5rem;
}
.footer .box-container .box a:hover {
  color: var(--navbar);
}
.footer .box-container .box a:hover i {
  padding-right: 2rem;
}
.footer .credit {
  text-align: center;
  margin-top: 2.5rem;
  padding: 1rem;
  padding-top: 2.5rem;
  font-size: 1.5rem;
  color: var(--white);
}
@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  .header {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    gap: 2rem;
  }
  .header .logo {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    left: 3rem;
  }
  .header #nav-open {
    display: inline-block;
  }
  .header .navbar {
    position: fixed;
    top: 0;
    margin-top: 0;
    left: -110%;
    background: var(--navbar);
    z-index: 10000;
    width: 35rem;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .header .navbar.active {
    left: 0;
    -webkit-box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.8);
  }
  .header .navbar #nav-close {
    display: block;
    position: absolute;
    top: 1rem;
    right: 2rem;
    color: var(--white);
  }
  .header .navbar a {
    margin: 1rem 0;
    font-size: 3rem;
    color: var(--white);
  }
  .header .navbar .icons-social {
    position: absolute;
    bottom: 2rem;
    display: flex;
    align-items: flex-end;
  }
  .header .navbar .icons-social a {
    padding: 0 1.5rem;
    font-size: 4rem;
    color: var(--white);
  }
  .header .navbar #nav-close {
    display: block;
    position: absolute;
    top: 1rem;
    right: 2rem;
  }
  .header .navbar a {
    font-size: 3rem;
  }
}
@media (max-width: 500px) {
  .header .navbar {
    width: 100%;
  }
  .header .navbar a {
    font-size: 6rem;
  }
}
