@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;1,100;1,300&display=swap");
* {
	font-family: 'Poppins', sans-serif;
	margin: 0;
	padding: 0;
	outline: none;
	border: none;
	-webkit-box-sizing: border-box;
					box-sizing: border-box;
	text-decoration: none;
	-webkit-transition: .5s linear;
					transition: .5s linear;
	text-transform: capitalize;
}
:root {
	--black1: #000;
	--black2: #c6c6c6;
	--scrollbar-thumb: #287bff;
	--btn: #287bff;
	--navbar: #daac00;
	--color: #daac00;
	--background: #fcc302;
	--white: #fff;
}
html {
	font-size: 62.5%;
	overflow-x: hidden;
	scroll-behavior: smooth;
	scroll-padding-top: 5rem;
}
html::-webkit-scrollbar {
	width: .5rem;
}
html::-webkit-scrollbar-track {
	background: var(--white);
}
html::-webkit-scrollbar-thumb {
	background: var(--scrollbar-thumb);
}
section {
	padding: 5rem 9%;
}
.btn {
	margin-top: 1rem;
	display: inline-block;
	border: 0.2rem solid var(--black1);
	color: var(--black1);
	cursor: pointer;
	background: none;
	font-size: 1.7rem;
	padding: 1rem 3rem;
	border-radius: 1rem;
}
.btn:hover {
	background: var(--btn);
	color: var(--white);
}
.heading {
	text-align: center;
	margin-bottom: 2.5rem;
	font-size: 4rem;
	color: var(--black1);
}
.header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 75px;
	padding: 2rem 9%;
	z-index: 1000;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
			-ms-flex-align: center;
					align-items: center;
	-webkit-box-pack: center;
			-ms-flex-pack: center;
					justify-content: flex-end;
				}
.header.active{
	background: var(--navbar);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}
.header .logo {
	margin-right: auto;
}
.header .logo img {
	width: 20rem;
}
.header .navbar a {
	margin-left: 2rem;
	font-size: 1.7rem;
	color: var(--white);
}
.header .navbar .icons-social {
	display: none;
}

.header .navbar a:hover,
.header .icons-social a:hover {
	color: var(--btn);
}
.header .navbar #nav-close {
	font-size: 5rem;
	cursor: pointer;
	color: var(--white);
	display: none;
}
.header .icons a, 
.header .icons div {
	font-size: 2rem;
	margin-left: 2rem;
	cursor: pointer;
	color: var(--white);
}
.header .icons a:hover, 
.header .icons div:hover {
	color: var(--btn);
}
.header .icons #nav-open {
	display: none;
}
.header .icons-social {
	position: absolute;
	top: 1rem;
}
.header .icons-social a {
	margin-left: 1rem;
	font-size: 2rem;
	color: var(--white);
}
.header .navbar,
.header .icons {
	margin-top: 3rem;
}
.home {
	background: var(--background);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem;
}
.home .image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 42rem;
          flex: 1 1 42rem;
  padding-right: 5rem;
  padding-bottom: 5rem;
}
.home .image img {
  width: 100%;
}
.home .content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 42rem;
          flex: 1 1 42rem;
}
.home .content h3 {
  font-size: 3rem;
  color: var(--white);
}
.home .content p {
  font-size: 1.5rem;
  color: var(--white);
  padding: 1rem 0;
  line-height: 2;
	text-align: justify;
}
.home .content .btn {
	border-color: var(--btn);
	color: var(--white);
	background: var(--btn);
	padding: 2rem 5rem;
	margin-right: 2rem;
}
.home .content .btn:nth-child(2n) {
	border-color: var(--white);
	color: var(--white);
	background: transparent;
}
.about {
  background: #eee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem;
}

.about .image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 42rem;
          flex: 1 1 42rem;
  padding-right: 5rem;
  padding-bottom: 5rem;
}

.about .image img {
  width: 100%;
  -webkit-box-shadow: 4rem 4rem 0 rgba(0, 0, 0, 0.1);
          box-shadow: 4rem 4rem 0 rgba(0, 0, 0, 0.1);
}

.about .content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 42rem;
          flex: 1 1 42rem;
}

.about .content h3 {
  font-size: 3rem;
  color: #219150;
}

.about .content p {
  font-size: 1.5rem;
  color: #10221b;
  padding: 1rem 0;
  line-height: 2;
}
@media (max-width: 1200px) {
  .header {
    padding: 2rem;
  }
  section {
    padding: 3rem 2rem;
  }
}
@media (max-width: 991px) {
  html {
    font-size: 55%;
    scroll-padding-top: 7rem;
  }
  .home{
    padding: 8rem 2rem;
  }
  .home .content {
    text-align: center;
  }
  .home .content h3 {
    font-size: 4rem;
  }
}
@media (max-width:768px){
	.header .navbar,
	.header .icons {
		margin-top: 0;
	}
 	.header .icons #nav-open {
	 	display: inline-block;
	}
	.header .navbar {
		position: fixed;
		top: 0;
		left: -110%;
		background: var(--white);
		z-index: 10000;
		width: 100%;
		height: 100%;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
				-ms-flex-flow: column;
						flex-flow: column;
		-webkit-box-align: center;
				-ms-flex-align: center;
						align-items: center;
		-webkit-box-pack: center;
				-ms-flex-pack: center;
						justify-content: center;
	}
	.header .navbar.active {
		left: 0;
    -webkit-box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.8);
            box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.8);
	}
	.header .navbar a {
		color: var(--color);
		margin: 1rem 0;
		font-size: 4rem;
	}
	.header .icons a,
	.header .icons div {
		margin-top: 0;
	}
  .header .navbar .icons-social {
    bottom: 2rem;
		display: flex;
		align-items: flex-end;
  }
  .header .navbar .icons-social a {
		padding: 0 1.5rem;
    font-size: 4rem;
		color: var(--black1);
  }
	.header .navbar #nav-close {
		color: var(--color);
		display: block;
		position: absolute;
		top: 1rem;
		right: 2rem;
	}
	.header .icons-social {
		display: none;
	}
	.home .content p {
		font-size: 2rem;
	}
}
@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  .heading {
    font-size: 3rem;
  }
}